<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Página de Cadastro</h1>
    <form action="{% url 'cadastro' %}" method="post"> 
        {% csrf_token %}
        <input type="text" placeholder="Username" name="usernamelogin" required>
        <input type="email" placeholder="email" name="emaillogin" required>
        <input type="password" placeholder="senha" name="senhalogin" required>
        <input type="submit" value="cadastrar">
    </form>
</body>
</html>