<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Página de Login</h1>
    <form action="{% url 'login' %}" method="post"> 
        {% csrf_token %}
        <input type="text" placeholder="Username" name="usernamelogin" required>
        <input type="password" placeholder="senha" name="senhalogin" required>
        <input type="submit" value="logar">
    </form>
</body>
</html>